/* styles.css */
h1 {
	color: orange
}


h2 {
	color: red
}
html, body {
	height: 100%;
	background-color: blue;
}

html, body {
	height: 100%;
	background-color: cyan;
}

html, body {
	
	.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

}

p {
	font-size: 5em;
	color: green;
}
 

.my-button {
	anchor-name: --my-button;
}

#my-element {
  position: absolute;
  position-anchor: --my-button;
  position-area: bottom span-right;
  border: none;
  backround-color: gray;
}
