/* styles.css */
html, body {
	height: 100%;
	background-color: blue;
}

html, body {
	height: 100%;
	background-color: purple;
}

html, body {
	
	.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

}

p {
	font-size: 5em;
	color: green;
}



 
